---
subject: Serious CS 125 Grade Concerns
query:
  'totals.average':
    $lte: 35
---
{{> header }}

<p>
<!-- -->
You are receiving this email because we have <strong>serious concerns</strong>
about your performance in CS 125.
<!-- -->
If the course ended today, you would not do well, and are in danger of not
passing.
<!-- -->
<strong>The drop deadline is Friday, 3/9/2018&mdash;one week from
  today.</strong>
<!-- -->
So this is a good moment to begin to evaluate your position in the course.
<!-- -->
You can use <a href="https://cs125.cs.illinois.edu/grades/">our grading
  interface</a> to compare your performance with other CS 125 students.
<!-- -->
</p>

<p>
<!-- -->
<strong>We want you to succeed in CS 125!</strong>
<!-- -->
Please consider taking some of the following steps to improve your CS 125
performance:
<!-- -->
<ul>
  <!-- -->
  <li>Attend our weekly even more practice (EMP) sessions: Mondays from
    5&ndash;7PM in Siebel 1404.
  <!-- -->
  </li>
  <!-- -->
  <li>Schedule a regular time to attend
    <!-- -->
    <a href="https://cs125.cs.illinois.edu/info/resources/#hours">office
      hours</a>
    <!-- -->
    <em>early in the week</em> so that you can receive individualized attention
    from the course staff.
  <!-- -->
  </li>
  <!-- -->
  <li>Post questions on the
    <!-- -->
    <a href="https://cs125-forum.cs.illinois.edu/">course forum</a>
    <!-- -->
    when you get stuck.
  <!-- -->
  </li>
  <!-- -->
  <li>Come to Geoffrey's office hours: MWF at 11AM in the lounge outside of
    Siebel 0226.
  <!-- -->
  He may be able to help you come up with a strategy to do better in CS 125.
  <!-- -->
  </li>
  <!-- -->
</ul>
<!-- -->
</p>

<p>
<!-- -->
<strong>No matter how you do it, please find a way to get help.</strong>
<!-- -->
Talk to a fellow student, a course assistant, or your TA; come to
<!-- -->
<a href="https://cs125.cs.illinois.edu/info/resources/#hours">office hours</a>;
<!-- -->
or post on the
<!-- -->
<a href="https://cs125-forum.cs.illinois.edu/">course forum</a>.
<!-- -->
We really want you to succeed in this course.
<!-- -->
But CS 125 moves fast, and we also don't want you to get farther behind.
<!-- -->
</p>

{{> footer }}
