---
subject: "CS 125 Survey"
query:
  active: false
---
{{> header }}

<p>
<!-- -->
You are receiving this email because you dropped CS 125 this semester.
<!-- -->
We're passionate about teaching computer science and programming to
<i>everyone</i>, and so we want to know why the course didn't work for you.
</p>

<p>
<!-- -->
Please help us improve CS 125 by completing
<!-- -->
<a href="https://goo.gl/forms/YxGv36x1LdljePhF3">this short survey</a>.
<!-- -->
It's anonymous and the results will help us make the course more effective for
students like you.
<!-- -->
</p>

<p>
<!-- -->
<strong>Thanks in advance for your help.</strong>
<!-- -->
We hope you'll give CS 125 another try in a future semester.
<!-- -->
</p>

{{> footer_nostaff }}
